* {
	font-family: sans-serif;
}

.layar {
	width: 500px;
	height: 700px;
	background-color: aqua;
	border: 2px solid black;
	margin: 0 auto;
	display: flex;
}

.menu button {
	width: 200px;
	height: 50px;
	line-height: 50px;
	margin: 20px auto;
	margin-left: 150px;
	background-color: yellow;
	border-radius: 30px;
	display: block;
	text-align: center;
	position: relative;
	top: 250px;
	border: none;
	cursor: pointer;
}


.btn {
	line-height: 30px;
	text-align: center;
	width: 120px;
	height: 30px;
	margin-top: 5px;
	margin-bottom: 8px;
	background-color: salmon;
	cursor: pointer;
	border: none;
	border-radius: 10px;
}

.pilgan {
	width: 400px;
	margin-left: 50px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
}

.jwb {
	margin: 5px;
	text-align: center;
	line-height: 50px;
	border-radius: 30px;
	width: 80px;
	height: 50px;
	background-color: yellow;
	cursor: pointer;
	border: none;
}

.nav {
	margin-left: 50px;
	width: 400px;
	height: auto;
	display: flex;
	justify-content: space-between;
}

.soal-hewan {
	width: 500px;
	height: auto;
	margin-top: 30px;
}

.soal-hewan img {
	height: 250px;
	width: 400px;
	margin-top: 10px;
	margin-left: 50px;
	border-radius: 10px;
}

a {
	text-decoration: none;
}

.close a {
	color: white;
}