* {
	font-family: sans-serif;
}

.layar {
	width: 500px;
	height: 600px;
	background-color: rgb(235, 123, 138);
	border: 2px solid black;
	margin: 0 auto;
	display: flex;
	box-sizing: border-box;
}

.title {
	width: 500px;
	height: auto;
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

h1 {
	font-family: 'Princess Sofia', cursive;
	font-size: 50px;
}

.menu button {
	width: 200px;
	height: 50px;
	line-height: 50px;
	margin: 20px auto;
	margin-left: 150px;
	background-color: yellow;
	border-radius: 30px;
	display: block;
	text-align: center;
	position: relative;
	top: 200px;
	border: none;
	cursor: pointer;
	font-family: 'Bubblegum Sans', cursive;
	font-size: 20px;
}


.btn {
	/* text-align: center; */
	width: 0;
	height: 0;
	background-color: transparent;
	cursor: pointer;
	border: none;
}

.pilgan {
	width: 400px;
	margin-left: 50px;
	display: flex;
	justify-content: space-between;
}

.jwb {
	margin: 5px;
	text-align: center;
	line-height: 50px;
	border-radius: 30px;
	width: 80px;
	height: 50px;
	background-color: yellow;
	cursor: pointer;
	border: none;
	font-family: 'Bubblegum Sans', cursive;
	font-size: 16px;
}

.soal-hewan,
.soal-buah {
	width: 500px;
	height: auto;
	margin-top: 30px;
}

.soal-hewan img,
.soal-buah img {
	height: 250px;
	width: 400px;
	margin-top: 10px;
	margin-left: 50px;
	border-radius: 10px;
}

.facts {
	height: 250px;
	width: 400px;
	background-color: aqua;
	margin-left: 50px;
	position: absolute;
	bottom: 357px;
	border-radius: 10px;
	opacity: .9;
	/* display: flex;
	flex-direction: column;
	align-items: center;
	align-content: space-around; */
}

.facts h3,
.facts h2 {
	text-align: center;
}

.facts p {
	margin: 10px;
	text-align: center;
}

.close-facts {
	width: 70px;
	height: 30px;
	background-color: darkorange;
	color: white;
	border: none;
	border-radius: 10px;
	margin-left: 170px;
	cursor: pointer;
}

.nav {
	width: 320px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	margin-left: 50px;
	padding: 0;
}

.soal-hewan .img-nav,
.soal-buah .img-nav {
	height: 80px;
	width: 80px;
	margin-top: 0px;
	margin-left: 0;
}

.soal-hewan .img-home,
.soal-buah .img-home {
	width: 65px;
	height: 65px;
	margin-left: 10px;
	margin-right: 0;
}