li {
	text-align: center;
	line-height: 100px;
	width: 100px;
	height: 100px;
	background-color: yellow;
	display: inline-block;
	cursor: pointer;
}

.next, .prev {
	line-height: 50px;
	text-align: center;
	width: 150px;
	height: 50px;
	background-color: salmon;
	cursor: pointer;
	display: inline-block;
}

a {
	text-decoration: none;
}


/*.soalDua, .soalTiga {
	display: none;
}*/